/* HEADER */

header {
}

.top {
    right: 0;
    left: 0;
    top: 0;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    opacity: 80%;
    position: absolute;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* BODY */

body {
    min-height: 200vh;
    width: 100vh;
}

.content {
    top: 200px;
    padding: 100px 70px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    color: #5af823;
    text-align: center;
}

.boxe-right {
    width: 100%;
    height: 100%;
    translate: 70%;
    border: 3px solid darkgray;
    border-radius: 5px;
    padding: 26px;
    opacity: 80%;
    float: right;
}

.boxe-left {
    width: 100%;
    height: 100%;
    translate: 0;
    border: 3px solid darkgray;
    border-radius: 5px;
    padding: 26px;
    opacity: 80%;
    float: left;
}

/* FOOTER */

footer {
}

.copyright {
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    opacity: 80%;
}

.copyright a {
    color: #3cf843;
    text-decoration-line: underline;
    text-decoration-color: #4CAF50;
}

/* BACKGROUND */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #232222;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #7cba54;
    top: 23%;
    left: 14%;
    animation-duration: 48s;
    animation-delay: -47s;
    transform-origin: 11vw 8vh;
    box-shadow: -2vmin 0 1.0409581479690562vmin currentColor;
}

.background span:nth-child(1) {
    color: #b3377c;
    top: 35%;
    left: 20%;
    animation-duration: 8s;
    animation-delay: -46s;
    transform-origin: -7vw -1vh;
    box-shadow: 2vmin 0 1.2199828430934065vmin currentColor;
}

.background span:nth-child(2) {
    color: #583C87;
    top: 89%;
    left: 88%;
    animation-duration: 15s;
    animation-delay: -50s;
    transform-origin: 22vw 25vh;
    box-shadow: -2vmin 0 0.6907755600617864vmin currentColor;
}

.background span:nth-child(3) {
    color: #7cba54;
    top: 39%;
    left: 43%;
    animation-duration: 18s;
    animation-delay: -26s;
    transform-origin: 5vw -12vh;
    box-shadow: -2vmin 0 0.5161280495902696vmin currentColor;
}

.background span:nth-child(4) {
    color: #899d28;
    top: 73%;
    left: 82%;
    animation-duration: 52s;
    animation-delay: -44s;
    transform-origin: -8vw -22vh;
    box-shadow: 2vmin 0 0.9107813769304152vmin currentColor;
}

.background span:nth-child(5) {
    color: #583C87;
    top: 35%;
    left: 96%;
    animation-duration: 49s;
    animation-delay: -7s;
    transform-origin: 21vw -10vh;
    box-shadow: -2vmin 0 1.059662511767698vmin currentColor;
}

.background span:nth-child(6) {
    color: #583C87;
    top: 63%;
    left: 32%;
    animation-duration: 24s;
    animation-delay: -16s;
    transform-origin: 9vw -21vh;
    box-shadow: 2vmin 0 1.0669647974858172vmin currentColor;
}

.background span:nth-child(7) {
    color: #899d28;
    top: 88%;
    left: 86%;
    animation-duration: 29s;
    animation-delay: -22s;
    transform-origin: 2vw -19vh;
    box-shadow: 2vmin 0 1.02815286613263vmin currentColor;
}

.background span:nth-child(8) {
    color: #7cba54;
    top: 48%;
    left: 11%;
    animation-duration: 16s;
    animation-delay: -37s;
    transform-origin: -3vw 9vh;
    box-shadow: -2vmin 0 1.040099865187161vmin currentColor;
}

.background span:nth-child(9) {
    color: #f25ed3;
    top: 23%;
    left: 33%;
    animation-duration: 47s;
    animation-delay: -36s;
    transform-origin: 14vw -2vh;
    box-shadow: -2vmin 0 0.54275953566264vmin currentColor;
}

.background span:nth-child(10) {
    color: #ce9aa9;
    top: 99%;
    left: 32%;
    animation-duration: 38s;
    animation-delay: -5s;
    transform-origin: -19vw 8vh;
    box-shadow: 2vmin 0 0.8849805728702183vmin currentColor;
}

.background span:nth-child(11) {
    color: #583C87;
    top: 40%;
    left: 81%;
    animation-duration: 29s;
    animation-delay: -39s;
    transform-origin: 1vw 2vh;
    box-shadow: -2vmin 0 0.34312308987311746vmin currentColor;
}

.background span:nth-child(12) {
    color: #899d28;
    top: 51%;
    left: 2%;
    animation-duration: 22s;
    animation-delay: -7s;
    transform-origin: -18vw 6vh;
    box-shadow: -2vmin 0 0.6240769502017773vmin currentColor;
}

.background span:nth-child(13) {
    color: #f25ed3;
    top: 64%;
    left: 16%;
    animation-duration: 41s;
    animation-delay: -39s;
    transform-origin: -10vw -14vh;
    box-shadow: -2vmin 0 1.0413093213432427vmin currentColor;
}

.background span:nth-child(14) {
    color: #899d28;
    top: 30%;
    left: 57%;
    animation-duration: 32s;
    animation-delay: -29s;
    transform-origin: 7vw -4vh;
    box-shadow: 2vmin 0 0.8200897403064575vmin currentColor;
}

.background span:nth-child(15) {
    color: #583C87;
    top: 29%;
    left: 46%;
    animation-duration: 15s;
    animation-delay: -17s;
    transform-origin: 20vw -10vh;
    box-shadow: -2vmin 0 1.0812917332620324vmin currentColor;
}

.background span:nth-child(16) {
    color: #899d28;
    top: 52%;
    left: 10%;
    animation-duration: 24s;
    animation-delay: -29s;
    transform-origin: 5vw -10vh;
    box-shadow: -2vmin 0 0.880911051271756vmin currentColor;
}

.background span:nth-child(17) {
    color: #583C87;
    top: 16%;
    left: 99%;
    animation-duration: 32s;
    animation-delay: -18s;
    transform-origin: -3vw 17vh;
    box-shadow: -2vmin 0 0.7315734334342101vmin currentColor;
}

.background span:nth-child(18) {
    color: #7cba54;
    top: 3%;
    left: 15%;
    animation-duration: 37s;
    animation-delay: -20s;
    transform-origin: -15vw -15vh;
    box-shadow: -2vmin 0 0.6033608528550207vmin currentColor;
}

.background span:nth-child(19) {
    color: #ba198e;
    top: 82%;
    left: 48%;
    animation-duration: 6s;
    animation-delay: -34s;
    transform-origin: 11vw 24vh;
    box-shadow: -2vmin 0 0.3375598600250491vmin currentColor;
}

.background span:nth-child(20) {
    color: #ce9aa9;
    top: 32%;
    left: 60%;
    animation-duration: 43s;
    animation-delay: -27s;
    transform-origin: -3vw -4vh;
    box-shadow: 2vmin 0 0.6181226189703057vmin currentColor;
}

.background span:nth-child(21) {
    color: #7cba54;
    top: 31%;
    left: 54%;
    animation-duration: 46s;
    animation-delay: -49s;
    transform-origin: 1vw -20vh;
    box-shadow: -2vmin 0 0.837509870596922vmin currentColor;
}

.background span:nth-child(22) {
    color: #ba198e;
    top: 76%;
    left: 64%;
    animation-duration: 17s;
    animation-delay: -48s;
    transform-origin: 20vw -7vh;
    box-shadow: 2vmin 0 0.8790797112940165vmin currentColor;
}

.background span:nth-child(23) {
    color: #899d28;
    top: 46%;
    left: 97%;
    animation-duration: 47s;
    animation-delay: -9s;
    transform-origin: -5vw -8vh;
    box-shadow: 2vmin 0 0.32407380710353517vmin currentColor;
}

.background span:nth-child(24) {
    color: #b3377c;
    top: 61%;
    left: 7%;
    animation-duration: 14s;
    animation-delay: -4s;
    transform-origin: -24vw -22vh;
    box-shadow: -2vmin 0 0.501486455243777vmin currentColor;
}

.background span:nth-child(25) {
    color: #f25ed3;
    top: 29%;
    left: 43%;
    animation-duration: 35s;
    animation-delay: -21s;
    transform-origin: -12vw -22vh;
    box-shadow: 2vmin 0 0.7764930467934024vmin currentColor;
}

.background span:nth-child(26) {
    color: #b3377c;
    top: 22%;
    left: 80%;
    animation-duration: 23s;
    animation-delay: -10s;
    transform-origin: 12vw 12vh;
    box-shadow: 2vmin 0 1.1820399677605335vmin currentColor;
}

.background span:nth-child(27) {
    color: #899d28;
    top: 51%;
    left: 12%;
    animation-duration: 52s;
    animation-delay: -41s;
    transform-origin: -4vw -12vh;
    box-shadow: -2vmin 0 0.5480667837380486vmin currentColor;
}

.background span:nth-child(28) {
    color: #899d28;
    top: 77%;
    left: 56%;
    animation-duration: 55s;
    animation-delay: -37s;
    transform-origin: -5vw -13vh;
    box-shadow: 2vmin 0 0.5880143683704708vmin currentColor;
}

.background span:nth-child(29) {
    color: #7cba54;
    top: 28%;
    left: 32%;
    animation-duration: 19s;
    animation-delay: -47s;
    transform-origin: 22vw 13vh;
    box-shadow: 2vmin 0 0.287161392946661vmin currentColor;
}