@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@media screen and (max-width: 1600px) {
    #code {
        font-size: 1rem;
        zoom: 1;
    }
}

@media screen and (max-width: 1024px) {
    body {
        min-width: 400px;
    }

    #toflex {
        flex-direction: column;
    }

    #table {
        font-size: 0.8rem;
        zoom: 0.8;
    }

    #code {
        font-size: 0.9rem;
        zoom: 0.8;
    }
}

@media screen and (max-width: 600px) {

    #table {
        font-size: 0.6rem;
        zoom: 0.6;
    }

    #code {
        font-size: 0.7rem;
        zoom: 0.6;
    }
}
