/* HEADER */

header {
}

.top {
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    background-color: #1a1a34;
    z-index: 1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    box-shadow: inset 0 0 1em black, 0 0 3em #1a1a34;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    box-shadow: inset 0 0 1em black, 0 0 1em green;
}

/* BODY */

body {
    max-width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: #222231;
}

.half-full {
    width: 100%;
    display: inline-block;
}

.half-left {
    width: 50%;
    float: left;
}

.half-right {
    width: 50%;
    float: right;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

align-left {
    text-align: left;
}

.container {
    text-align: left;
    right: 0;
    left: 0;
    padding: 40px;
    color: #f2f2f2;
    font-size: 24px;
}

.download {
    padding: 20px 30px;
    float: right;
    justify-content: right;
    border-radius: 4px;
    background-color: #3ea21c;
}

.download:hover {
    background-color: #50dc20;
    box-shadow: inset 0 0 1em lightgreen, 0 0 3em green;
}

.content {
    position: absolute;
    right: 0;
    left: 0;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #ff8600;
}

.boxe {
    text-align: left;
    padding: 26px;
}

.tableau {
    text-align: left;
    width: 100%;
}

td {
    border: 1px solid green;
    padding: 14px;
}

h1 {
    font-size: 64px;
    color: #f2f2f2;
}

h2 {
    font-size: 64px;
    color: rgba(63, 255, 0, 0.74);
}

p, li {
    font-size: 24px;
    color: rgba(242, 242, 242, 0.89);
}

td {
    font-size: 24px;
    color: rgba(217, 216, 216, 0.89);
}

/* FOOTER */

footer {
}

.copyright {
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    opacity: 80%;
}

.copyright a {
    color: #3cf843;
    text-decoration-line: underline;
    text-decoration-color: #4CAF50;
}

i {
    -webkit-animation: fa-forward 1s infinite;
}

@-webkit-keyframes fa-forward {
    10% {
        transform: translateX(-2px);
    }
    20% {
        transform: translateX(-4px);
    }
    30% {
        transform: translateX(-6px);
    }
    40% {
        transform: translateX(-8px);
    }
    50% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(10px);
    }
    70% {
        transform: translateX(8px);
    }
    80% {
        transform: translateX(6px);
    }
    90% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(2px);
    }
}

@media screen and (min-width: 0) and (max-width: 980px) {
    h2 {
        font-size: 40px;
    }

    .half-left {
        width: 100%;
        float: none;
    }

    .half-right {
        width: 100%;
        float: none;
    }

    .half-full {
        width: 100%;
        display: inline-block;
    }

    .container {
        padding: 20px;
    }

    .topnav a {
        display: block;
        text-align: left;
        background-color: #1a1a34;
    }
}