/* HEADER */

header {
}

.top {
    right: 0;
    left: 0;
    top: 0;
    margin-top: 0;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: #1a1a34;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* BODY */

body {
    width: 100vh;
    text-align: center;
    background-color: #222231;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

align-left {
    text-align: left;
}

.container {
    text-align: left;
    right: 0;
    left: 0;
    padding: 40px;
    color: #f2f2f2;
    font-size: 24px;
}

.download {
    padding: 20px 30px;
    float: right;
    justify-content: right;
    border-radius: 4px;
    background-color: #3ea21c;
}

.download a:hover {
    color: black;
}

.content {
    position: absolute;
    right: 0;
    left: 0;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #ff8600;
}

.boxe {
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 26px;
}

.tableau {
    text-align: left;
    width: 97%;
}

td {
    border: 1px solid green;
    padding: 14px;
}

/* FOOTER */

footer {
}

.copyright {
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    opacity: 80%;
}

.copyright a {
    color: #3cf843;
    text-decoration-line: underline;
    text-decoration-color: #4CAF50;
}